{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "ApiKey": "your-secure-api-key-here",
    "Email": {
        "SmtpHost": "smtp.gmail.com",
        "SmtpPort": "587",
        "SmtpUser": "tu-email@gmail.com",
        "SmtpPassword": "tu-app-password-de-gmail",
        "ToEmail": "email1@example.com,email2@example.com,email3@example.com"
    }
}
